body{
    background-color: rgb(212, 156, 83);
    color: #000000;
    font-family: 'Gloria Hallelujah', cursive;
}

.center{
    text-align: center;
}

li{
    list-style-type: none;
}

.section1{
    margin-top: 100px;
}

.brand {
    margin-left: 50%;
}

.navbar{
    background-color: rgb(212, 156, 83);
}

.inputMargin{
    margin: auto 298%;
}